/*
THEME: Educenter - Education HTML Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/education-template/
DEMO: https://demo.themefisher.com/educenter/
GITHUB: https://github.com/themefisher/Educenter-Bootstrap-Education-Template

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/slider';

@import 'templates/homepage';

@import 'templates/otherspage';